#leftSidebar {
  padding: 20px;
}

#leftSidebar a {
  margin: 10px;
}

#leftSidebar .tweetbutton {
  padding: 10px;
  border-radius: 50%;
  margin-right: -10px;
  background-color: #1d9bf0;
}
.links {
  text-decoration: none;
  color: black;
}
#btn-tweet {
  background-color: #1d9bf0;
}
.btn-tweet-link {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.tweet-div {
  width: 10rem;
}
.link-sidebar {
  display: inline-block;
}
.izquierdo {
  height: 95vh;
}
.userPic {
  margin-left: -13px;
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.tweet-logo {
  display: none;
}
#tweet-logo {
  display: none;
}
@media (max-width: 1200px) {
  .link-sidebar {
    display: none;
  }
  .btn-tweet-link {
    display: none;
  }
  #logout-buttom {
    display: none;
  }
  .tweet-div {
    width: 100%;
  }
  .tweet-logo {
    display: inline-block;
  }
  #tweet-logo {
    display: inline-block;
  }
  .tweet-div {
    border-radius: 50%;
  }
}
